html {
    font-size: 16px;
    height: 100%;
}

body {
    background-color: #F5F0EB;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-bottom: .1rem solid #3F3F3F;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #37AD69;
    font-family: 'Open Sans', sans-serif;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10%;
    height:80%;
    font-size: 1.2rem;
    text-align: center;
}

.ul_telainicial{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.li_telainicial {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.a_telainicial {
    display: block;
    margin: 1.5rem;
    box-shadow:.2rem .2rem .2rem #A6A29F;
    padding: .5rem 1.5rem .5rem 1.5rem;
    font-size: 1.8rem;
    text-decoration: none;
    border-radius: 5rem;
    width: 65%;
    text-align: center;
    color: #3F3E3E;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-weight: bold;
}

.arrow{
    position:absolute;
    width: 2rem;
    height: 2rem;
    top: .5rem;
    left: .5rem;
}
.img_arrow{
    max-height:100%;
    max-width:100%;
}


.ul_filtros{
    height: 45%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 0.2rem solid #47E188;
    border-radius: 0.5rem;
    margin: 0.5rem;
    overflow: auto;
    margin-bottom:15%;
    padding-top:15%;
    align-items: flex-start;
    padding: 0.5rem;
    background-color: white;
}

.titulo_filtros{
    height:5%;
    width:100%;
    align-self: start;
    font-family:'Noticia text', serif;
    font-weight: bold;
}

.li_filtros{
    width:25%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    margin: 1.2rem 0 1.2rem 0;
    align-items: flex-start; 
}

.a_filtros{
    margin-top: 0.5rem;
    font-size: 0.7rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family:'Noticia text', serif;

}

.img_filtros {
    border: 0.1rem solid black;
    height: 3.8rem;
    width: 3.8rem;
    align-self: center;
}

.img_favoritos{
    height: 3.8rem;
    width: 3.8rem;
    align-self: center;
    margin-bottom: 0.5rem;
    border: 0.1rem solid black;
}
.ul_horizontal{
    display:flex;
    flex-direction: column;
    width: 85%;
    height:24%;
    border: 0.2rem solid #47E188;
    border-radius: 0.5rem;
    background-color: white;
    font-family:'Noticia text', serif;
}

.h2_horizontal{
    margin-top: 0.5rem;
    font-family:'Noticia text', serif;
    font-weight: bold;
}

.ul_favoritos{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    margin-top: 1.5rem;
    overflow: auto;
    align-items: flex-start;
}

.li_favoritos{
    min-width:35%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.a_favoritos{
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-weight: bold;
    font-family:'Noticia text', serif;
}


.resultado_img{
    width:50%;
    height: 80%;
    max-width: 5rem;
    max-height: 5rem;
}

.resultado_li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.resultado_a{
    margin-left: 1rem;
    color: black;
    text-decoration: none;
}

.resultado_main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    margin: 10%;
    align-items: center;
}




.resultado_ul{
    height: 100%;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.resultado_h2{
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-family:'Noticia text', serif;
}

.img_compra{
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0.5rem;
    border: 0.2rem solid #47E188;
    border-radius: 0.5rem;
}

.li_compra_queijo{
    font-family:'Noticia text', serif;
    font-size: 1.1rem;
}

.ingredientes_ul{
    height: 45%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0.5rem;
    margin-bottom:15%;
    padding-top:15%;
    align-items: flex-start;
    padding: 0.5rem;
    text-align: left;
}

.ingredientes_li{
    height: 20%;
    width: 50%;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    text-align: center;
    font-family:'Noticia text', serif;
}

.p{
    margin-bottom: 1rem;
    font-family:'Noticia text', serif;
}

.ul_receita, .ul_compra_queijo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: left;
    font-size: 1rem;
}

.h2_compra_queijo{
    text-align: center;
    font-weight: bold;
    font-family:'Noticia text', serif;
    font-size: 1.4rem;
}


.img_carrinho{
    max-width: 100%;
    max-height: 100
}

.header_carrinho{
    display: flex;
    flex-direction: column;
    height:10%;
    width: 100%;
    border-bottom: .1rem solid #3F3F3F;
    background-color: #37AD69;
    justify-content: flex-end;

}

.header_carrinho li {
    text-align: center;
}


.header_carrinho li h1 {
    margin-bottom: 1rem;
    font-weight: bold;
    color: white;
    font-size: 2rem;
}


.header_inside_ul{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    color: white;
    font-weight: 700;
}

.carrinho_main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    align-items: center;
    text-align: center;
}

.carrinho_main h2{
    font-weight: bold;
    

}

.ul_carrinho{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ul_info li{
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
    font-size: 0.9rem;
}

.ul_pagamento{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}



.li_pagamento {
    display: block;
    box-shadow:.2rem .2rem .2rem #A6A29F;
    font-size: 1rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    text-decoration: none;
    border-radius: 0.1rem;
    text-align: center;
    color: #3F3E3E;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-weight: bold;
}

.caixa{
    margin: 1rem 0 1rem 0;
    padding: 0.3rem 0 0.3rem 0;
    border:  0.2rem solid #47E188;
    border-radius: 0.5rem;
}

.caixa h3 {
    font-weight: bold;
}

.main_receitas{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10%;
    font-size: 1.2rem;
    text-align: center;
}

.receitas{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%
}

.receitas .ul_horizontal{
    margin-top: 1rem;
}

.receitas .ul_horizontal .li_horizontal .ul_favoritos .li_favoritos{
    margin-right: 1rem;
    font-size: 0.7rem;
}

.receitas .ul_horizontal .li_horizontal h2{
    font-weight: 600;
}

.li_receita{
    font-family:'Noticia text', serif;
    font-size: 1.2rem;
}

.a_resultado{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black
    
}

.texto{
    margin-left: 1rem;
    font-family:'Noticia text', serif;
    font-size: 1.2rem;
}

.h1_carrinho {
    font-weight: bold;
    font-family:'Open-sans', sans-serif;
}

.retirada{
    font-family:'Open-sans', sans-serif;
}

.entrega{
    font-family:'Open-sans', sans-serif;
    color: #FAEF5D

}

.carrinho_main {
    font-family:'Noticia texte', serif;
    font-size: 1.3rem;
}

.h3_mapa, .p_mapa {
    font-family:'Noticia texte', serif;
    font-size: 1.3rem;
}
